


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html { height: 100%; }
body {
	height: 100%; 
	margin: 0; 
	padding: 0;
}

/* Navbar */
.navbar-brand>img {
	max-height: 100%;
}
.navbar-brand {
    height: 76px
}
.navbar {
	background-color: black;
	color: white;
	border-width: 0px;
	border-radius: 0px;
	margin-bottom: 0px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a {
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}
.navbar-default .navbar-nav>li>a:hover {
	color: grey;
}
.btn {
	border-radius: 23px;
	border: solid 2px black;
	color: black;
	text-transform: uppercase;
	background-color: transparent;
	height: 46px;
	margin-top: 16px;
	padding-left: 20px;
	padding-right: 20px;
}
.btn:hover {
	background-color: black;
	color: white;
}
.navbar-btn {
	margin-left: 20px;
	border-color: white;
	color: white;
}
.navbar-btn:hover {
	background-color: white;
	color: black;
}
.navbar-toggle {
	margin-top: 20px;
}
@media (min-width: 768px) {
	.lang {
		border-left: solid white 1px;
		margin-left: 15px;
		padding-left: 15px;
	}
}

/* Nav */
.nav .nav {
	padding-left: 15px;
}

/* General */
h1 {
	font-family: roboto;
	font-weight: 100;
	font-size: 40px;
}
h2 {
	font-family: Fjalla One, sans-serif;
}
p {
	font-size: 1.4em;
}
.hp li {
	font-size: 1.4em;	
}
em {
	color: #929292;
}
.center {
	text-align: center;
}
.orange {
	background-color: #fed149;
}
.mt {
	margin-top: 45px;
}
.mb {
	margin-bottom: 45px;
}
.smt {
	margin-top: 15px;
}
.smb {
	margin-bottom: 15px;
}
.pt {
	padding-top: 45px;
}
.pb {
	padding-bottom: 45px;
}

/* Text blocks */
.text img {
	max-width: 100%;
}

/* Home page */
#welcome {
	padding-top: 180px;
	background-size: cover;
	background-position: center;
	background-color: #f57153;
	background-blend-mode: overlay;
	min-height: 90%;
}
#welcome .container {
	max-width: 780px;
}
#welcome h1 {
	background-color: rgba(255,255,255,0.8);
	display: -webkit-inline-box;
	padding: 10px;
}
.description {
	background-color: #fed149;
	padding: 80px;
}
.hp {
	max-width: 720px;
	margin-right: auto;
	margin-left: auto;
}
.maps iframe{
    pointer-events: none;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	margin-bottom: -5px;
}
img.partner, .mentors .thumb-img img  {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
img.partner:hover, .mentors .thumb-img img:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-transition: 1s; /* Safari */
    transition: 1s;
}
.thumb-img img {
	max-width: 100%;
	border-radius: 50%;
}
.mentor-meta {
	text-align: center;
}


/* FAQ */
.question {
	
}


/* Footer */
.footer {
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #efefef;
	color: #929292;
	font-size: 10px;
}












